{% if page.image or page.vimeo or page.youtube %}
  <div class="article__media">
    {% if page.image %}
      <div class="fluid-width-image-wrapper" style="background-image: url('{{ site.baseurl }}/media/{{ page.image }}');">
        <!-- <img src="{{ site.baseurl }}/media/{{ page.image }}"> -->
      </div>
    {% elsif page.vimeo %}
      <iframe src="//player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% elsif page.youtube %}
      <iframe src="//www.youtube.com/embed/{{ page.youtube }}?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  </div>
{% endif %}