<nav>
  <p class="center-txt">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl }}"><strong>Previous</strong></a>
      {% else %}
        <a href="{{ site.baseurl }}/page{{ paginator.previous_page }}"><strong>Previous</strong></a>
      {% endif %}
    {% else %}
      <span>Previous</span>
    {% endif %}

    &nbsp;&mdash;&nbsp;

    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}/page{{ paginator.next_page }}"><strong>Next</strong></a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </p>
</nav>