//-----------------------------------------------------------------------------
// Helpers
//-----------------------------------------------------------------------------

// Text
//-----------------------------------------------------------------------------

.big-title {
  @media (min-width: @breakpoint2) {
    font-size: @size-two;
  }
  @media (min-width: @breakpoint3) {
    font-size: @size-three;
  }
}

.center {
  text-align: center;
}

// Clearfix
//-----------------------------------------------------------------------------
.group {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}