<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/build/stylesheets/production.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,400italic|Roboto+Condensed:700' rel='stylesheet' type='text/css'>-->
  </head>
  <body class="video">
    <header>
      <a href="{{ site.baseurl }}/">{{ site.name }}</a>
    </header>
    {{ content }}
  </body>
</html>
