<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/screen.css">
    </head>
    <body class="video">

      {% include header.html %}

      {{ content }}

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
      <script>
        $(document).ready(function() {
          $('.video').fitVids();
        });
      </script>
    </body>
</html>
