---
layout: default
---

<article class="video">
  <header>
    {{ if page.image }}
      <img class="featured-image" src="{{ site.baseurl }}/media/{{ page.image }}">
    {{ endif }}
    <h1>{{ page.title }}</h1>
    <p>
      {{page.author}}

      om en resa i

      {% for country in page.country %}
        {% if forloop.last %}
        &amp; <span>{{ country | capitalize }}</span>
        {% else %}
        <span>{{ country | capitalize }}</span>
        {% endif %}
      {% endfor %}
    </p>
    <p>{{ page.date | date: '%Y-%m-%d' }}</p>
  </header>
  <div class="max-width-txt">
    {{ content }}
  </div>
</article>
<hr>